body {
    margin: 10px ;
    }
.row ul {
    list-style-type: none; 
}

header img {
    width: auto;
}

/* header input {
        max-width: 92%;
} */

.hero {
    border: black solid 1px;
    
    width: 96%;
}
.popular-products .col-12{
   border: black 1px dashed;
    
}